.table_total {
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 45px;
  width: 750px;
  height: 680px;
  border: 1px solid gray;
  border-radius: 10px;
  overflow-y: scroll;

  font-size: 0.9rem;
}

.table_top {
  top: 20px;
  margin-top: 50px;
  margin-left: 50px;
  color: #648dda;
  font-weight: 600;
  font-size: 1.2rem;
}

.table {
  height: 658px;
}

.time_total {
  float: left;
}

.time_top {
  height: 30px;
  width: 85px;
  border: 1px solid #b9b4b4a1;
  border-bottom: none;
}

.time_box {
  height: 90px;
  width: 85px;
  border: 1px solid #b9b4b4a1;
  border-bottom: none;
  border-top: none;
}
.time_box_first {
  margin-top: -7px;
  height: 90px;
  width: 85px;
  border: 1px solid #b9b4b4a1;
  border-bottom: none;
  border-top: none;
}
.time_box_last {
  margin-top: -7px;
  height: 30px;
  width: 85px;
  border: 1px solid #b9b4b4a1;
  border-bottom: none;
  border-top: none;
}
.time {
  text-align: center;
}

.schedule_top {
  height: 30px;
  width: 90px;
  border: 1px solid #b9b4b4a1;
  border-bottom: none;
  text-align: center;
}

.schedule_day {
  float: left;
}

.plus {
  position: fixed;
  margin: 10px;
  display: block;
  top: 800px;
  left: 650px;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #86a8e7;
  background-color: #86a8e7;
  color: white;
}
