.nav_total {
  height: 100vh;
  width: 300px;
  background: linear-gradient(to top, white, 10%, #86a8e7, 80%, #8585d4);
}

.nav_header {
  margin-top: 27px;
  margin-left: 27px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.7rem;
}

.nav_header img {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(319deg)
    brightness(103%) contrast(101%);
  margin-right: 10px;
}

.nav_header i {
  margin-left: 100px;
  padding: 8px;
  border-radius: 50%;
}

.nav_link {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}

.nav_link Button {
  height: 65px;
  margin-top: 3px;
  text-align: left;
  padding-left: 20px;
  font-size: 1.2rem;
}
.nav_link Button span {
  font-size: 0.9rem;
  margin-left: 10px;
}

.gear {
  display: inline-block;
  height: 65px;
  text-align: left;
  padding-left: 20px;
  font-size: 1.2rem;
  margin-left: 20px;
  width: 260px;
  opacity: 0.7;
  margin-top: 450px;
}

.gear span {
  font-size: 0.9rem;
  margin-left: 10px;
}
