.menu {
  position: absolute;
  width: 100%;
  top: 180px;
  display: flex;
}

.menu div {
  width: 196px;
  height: 53px;
  cursor: pointer;
  text-align: center;
}

.menu Button {
  background-color: white;
  border: none;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  width: 196px;
  height: 33px;
  color: #444444;
}

.post {
  z-index: 3;
}
.post ul {
  position: absolute;
  display: none;
  list-style: none;
  width: 196px;
  height: 110px;
  left: 145px;
}

.post li {
  margin-top: 6px;

  cursor: pointer;
}

.post li:hover,
.post li:active,
.post li:focus {
  color: #66c109;
  font-weight: bold;
}

.post:hover > ul {
  display: block;
}

.list li {
  color: black;
}
