.loginBox {
  position: relative;
  margin: auto;
  width: 380px;
  height: 50em;
}
.logo {
  position: relative;
  margin: 50% auto 0;
  cursor: pointer;
}
.man {
  width: 100px;
  height: 250px;
  position: relative;
  margin-left: 5rem;
}
.txt {
  display: inline-block;
  position: relative;
  font-size: 35px;
  font-weight: 700;
  color: #66c109;
}

.lineBox {
  position: relative;
}
.line {
  width: 45%;
  float: left;
  border: 1px solid;
}
.line2 {
  width: 45%;
  float: right;
  border: 1px solid;
}
.btnBox {
  margin-top: 60px;
}
.Button {
  background: white;
  color: #444;
  width: 380px;
  height: 46px;

  border: 1px #e6e6ea;
  box-shadow: 1px 1px 1px #e6e6ea;
  margin: 5% auto 0;
  font-size: 14px;
}
.kakao {
  color: #000000;
  font-weight: 600;
  font-family: "Inter";
  background-color: #fee500;
}
.naver {
  color: #767678;
  font-weight: 500;
  font-family: "Inter";
  background-color: #ffffff;
}
.google {
  color: #767678;
  font-weight: 500;
  background-color: #ffffff;
  font-family: "Inter";
}
.Button:hover {
  cursor: pointer;
}
.buttonText {
  margin-left: 5%;
  display: flex;
}

.btnLogo {
  width: 6%;
  height: 6%;
  margin: auto 20px auto 0px;
}
