.login_total {
  margin-top: 200px;
  margin-left: 27vw;
  box-shadow: 0 8px 16px rgb(0 0 0 / 0.2);
  border-radius: 15px;
  display: flex;
  width: 730px;
  height: 450px;
}

.login_form h1 {
  font-size: 2.3rem;
}

.login_form {
  padding: 20px 20px 0px 30px;

  display: flex;
  flex-direction: column;
}
.login_form_p {
  margin-top: -20px;
  margin-left: 15px;
  margin-bottom: 50px;
  font-size: 1.3rem;
  color: #5272e9;
  opacity: 0.6;
}

.login_box {
  width: 50%;
}

.description_box {
  width: 50%;
  height: 100%;

  background-color: #86a8e7;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Google i {
  margin-right: 5px;
}

.Google {
  margin-bottom: 40px;
}

.description {
  margin-left: 45px;
  margin-top: 45px;
  color: white;
}

.description h1 {
  font-size: 35px;
}
.description p {
  margin-left: 10px;
  margin-bottom: 45px;
}

.description i {
  display: inline-block;
  margin-right: 5px;
}
