.login_total {
  margin-top: 200px;
  margin-left: 27vw;
  box-shadow: 0 0 8px;
  border-radius: 15px;
  display: flex;
  width: 750px;
  height: 500px;
}

.login_form {
  padding: 5px 20px 0px 15px;
  display: flex;
  flex-direction: column;
}
.login_form_p {
  margin-top: -20px;
  margin-left: 15px;
  margin-bottom: 30px;
  font-size: 13px;
  color: #5272e9;
  opacity: 0.6;
}

.login_box {
  width: 50%;
}

.email {
  margin-top: 15px;
}

.login_form input {
  height: 30px;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin-left: 8px;
  padding-left: 10px;
  opacity: 0.6;
}

.description_box {
  width: 50%;
  height: 100%;
  background-color: #5272e9;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.forgot {
  font-size: 13px;
  margin-top: -18px;
  margin-left: 193px;
}
.forgot,
.forgot:focus,
.forgot.hover,
.forgot.active {
  color: #5272e9;
  text-decoration: none;
}

.sign_in_with {
  color: #5272e9;
  opacity: 0.6;
  margin-top: 60px;
}

.btn {
  color: #5272e9;
  font-size: 25px;
}

.signIn {
  background-color: #5272e9;
  color: white;
  margin-top: 35px;
  width: 130px;
}

.signUp {
  background-color: lightgray;
  color: white;
  margin-top: -55px;
  margin-left: 190px;
  width: 130px;
  height: 30px;
  border-radius: 7px;
  border: none;
  display: block;
  border: 1px solid gray;
}

.signUp,
.signUp:focus,
.signUp:hover,
.signUp.active {
  text-decoration-line: none;
}

.description {
  margin-left: 45px;
  margin-top: 70px;
  color: white;
}

.description h1 {
  font-size: 35px;
}
.description p {
  margin-left: 10px;
  margin-bottom: 45px;
}

.description i {
  display: inline-block;
  margin-right: 5px;
}
