.teamo_total {
  margin-top: 900px;
  display: flex;
}

.teamo_description {
  width: 500px;
  height: 400px;
  margin-left: 200px;
}
.teamo_description h1 {
  font-size: 2.4rem;
}
.teamo_description p {
  font-size: 1.1rem;
}

.teamo_div_child {
  margin-top: 60px;
}

.teamo_div_child ul {
  width: 350px;
  height: 470px;
  list-style: none;
  text-align: left;
}

.teamo_div_child li {
  font-size: 1.3rem;
  margin-bottom: 40px;
}

.teamo_div_child li i {
  margin-right: 10px;
}

.team_img {
  margin-left: 130px;
  margin-top: 100px;
  width: 600px;
  height: 450px;
}
