.membership {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

.membership h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.text {
  font-size: 1.2rem;
}

.membership_div {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.membership_div_child {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  height: 300px;
}

.membership_div_child p {
  font-size: 1.5rem;
  font-weight: bold;
}

.membership_div_child ul {
  width: 200px;
  height: 430px;
  list-style: none;
  text-align: left;
}

.membership_div_child li {
  font-size: 1.3rem;
  margin-bottom: 25px;
  margin-left: 10px;
}

.membership_div_child li i {
  margin-right: 10px;
}

.button_blue {
  background-color: #6aafe6;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  margin-left: 27px;
}
